/* Manifest ------------ */
/* Slider */
@import url("https://fonts.googleapis.com/css?family=Oswald:300");
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/* Colors */
/* Mixins -------------- */
/* Globals ----------- */
body {
  min-width: 320px;
  line-height: 20px;
  font-family: "Oswald", "Special Elite", "sans-serif";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.row {
  padding-left: 0px;
  padding-right: 0px; }

.container-fluid {
  padding-left: 0px;
  padding-right: 0px; }

h2 {
  margin-top: 0px; }

h1, h2, h4 {
  font-family: Special Elite; }

ul {
  list-style: none; }

.parallax {
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover; }

.parallax-br {
  min-height: 300px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover; }

.blog-navigation ul {
  display: -webkit-inline-box;
  padding: 10px; }

.blog-navigation li {
  padding-right: 5px;
  padding-left: 5px;
  list-style: none; }

@media (min-width: 768px) {
  body {
    padding-top: 9.8em; } }

.woocommerce
.woocommerce-result-count {
  margin-left: 1em; }

.woocommerce-products-header {
  text-align: center; }

.woocommerce ul.products {
  padding: 10px; }

#button a:hover {
  text-transform: uppercase; }

#button a {
  color: #fafafa;
  font-family: "Asap", "Special Elite", "sans-serif"; }

#button .btn-red {
  padding: 13px 3em;
  background-color: #a70404;
  border-color: transparent;
  font-size: 18px;
  line-height: 1.33333;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px; }
  @media (min-width: 780px) {
    #button .btn-red {
      padding: 13px 5em; } }

.button-1,
.button-2,
.button-3,
.button-4 {
  text-align: center;
  margin-top: 4em; }

@media (min-width: 768px) {
  .button-1 {
    text-align: left;
    margin-top: 3em;
    margin-left: 18px; } }

.catering-btn {
  padding-top: 45px;
  text-align: center; }

#nav-icon1 {
  width: 44px;
  height: 45px;
  margin-top: 2em;
  margin-right: 3em;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
      transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer; }

#nav-icon1 span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #de2024;
  -webkit-border-radius: 9px;
     -moz-border-radius: 9px;
          border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
      transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out; }

#nav-icon1 span:nth-child(1) {
  top: 5px; }

#nav-icon1 span:nth-child(2) {
  top: 15px; }

#nav-icon1 span:nth-child(3) {
  top: 25px; }

#nav-icon1.open span:nth-child(1) {
  top: 18px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
      transform: rotate(135deg); }

#nav-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px; }

#nav-icon1.open span:nth-child(3) {
  top: 18px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
      transform: rotate(-135deg); }

.navbar .container {
  padding-left: 0px;
  padding-right: 0px; }

.navbar-header img {
  display: none; }

.navbar-fixed-top {
  top: -5px; }

.navbar-nav {
  margin: 0px 0px; }

.navbar
.navbar-nav {
  display: inline-block;
  float: none; }

.navbar-default
.navbar-toggle:hover,
.navbar-default {
  background-color: rgba(221, 221, 221, 0); }

.navbar-collapse.in {
  overflow-y: visible; }

.sub-menu a {
  color: #999;
  text-decoration: none; }

.navbar-inverse
.navbar-nav > li > a {
  color: #424C50;
  font-size: 30px;
  position: relative;
  color: #fff;
  display: inline-block;
  line-height: 1;
  border-bottom: 1px solid transparent;
  font-weight: bold; }

.navbar-default .navbar-nav > li > a {
  color: #d2cece;
  font-size: 20px; }

#menu-menu-1 a:hover {
  color: #fff; }

.sub-menu li {
  margin-bottom: 10px;
  list-style: none; }

.sub-menu li:last-child {
  margin-bottom: 0; }

.sub-menu a {
  color: #999;
  text-decoration: none; }

.sub-menu a:hover {
  color: #000; }

.sub-menu li, .sub-menu a {
  font-size: 25px;
  font-weight: bold; }

.navbar-inverse
.navbar-nav > li > a {
  color: #f5f5f5;
  font-size: 20px;
  font-weight: 800;
  position: relative;
  color: #fff;
  display: inline-block;
  line-height: 1;
  border-bottom: 1px solid transparent;
  font-weight: bold;
  padding-top: 4px;
  padding-bottom: 4px; }

#menu-menu-1 {
  top: 10px;
  font-family: "Oswald", "Special Elite", "sans-serif";
  text-transform: uppercase; }
  #menu-menu-1 li {
    font-weight: 800; }
    #menu-menu-1 li a {
      font-size: 15px;
      letter-spacing: 4px;
      padding-right: 22px; }
      @media (min-width: 780px) {
        #menu-menu-1 li a {
          padding-right: 44px; } }

.current-menu-parent li a {
  background: inherit; }

.current-menu-parent
.current-menu-item a {
  color: #fff;
  font-weight: bold; }

.navbar-default .navbar-toggle {
  border-color: transparent; }

.navbar-toggle .icon-bar {
  width: 33px;
  height: 5px; }

.navbar-default .navbar-collapse {
  border-color: transparent; }

.navbar-inverse,
.navbar-toggle,
.navbar-toggle,
.collapse {
  background-color: rgba(55, 58, 59, 0);
  margin-top: 13px; }

.navbar-default {
  background-color: rgba(236, 231, 231, 0);
  border-color: rgba(231, 231, 231, 0); }

@media (min-width: 320px) {
  .navbar-fixed-top .navbar-collapse {
    padding-bottom: 20px; }
  .navbar-collapse {
    margin-top: -5.4em; } }

@media (min-width: 768px) {
  .banner-navbar {
    display: block;
    padding-bottom: 1px; }
  .navbar-header img {
    padding-top: 20px;
    display: block;
    width: 13em;
    padding-left: 2em; }
  .navbar-default .navbar-collapse {
    border-color: transparent;
    background-color: transparent; }
  .navbar
.navbar-nav {
    display: inline-block;
    float: right;
    padding-top: 6.5em;
    padding-right: 2em; }
  .navbar-nav {
    margin: 0px 0px; }
  .container {
    width: 100%;
    padding: 0px;
    margin: 0px; }
  .sub-menu {
    position: absolute;
    background: rgba(9, 9, 9, 0.62);
    padding: 10px 15px;
    width: 200px; }
  li:hover .sub-menu {
    display: block; }
  .navbar-nav > li > a {
    padding-top: 5px;
    padding-bottom: 5px; } }

#footer-nav {
  padding-top: 1em; }

#menu-menu-2 {
  margin-top: 25px;
  padding-left: 0px;
  line-height: 3em;
  text-align: center;
  text-shadow: 0px 2px 6px #000; }
  @media (min-width: 769px) {
    #menu-menu-2 {
      padding-left: 47px; } }
  @media (min-width: 780px) {
    #menu-menu-2 #menu-menu-2 {
      padding-left: 2em; } }

.section-1 {
  padding-top: 10px; }

#slogan p {
  color: #d2cece;
  font-size: 17px;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 0px 0px 6px #000;
  letter-spacing: 2px;
  font-weight: bold;
  word-spacing: 1px; }
  @media (min-width: 768px) {
    #slogan p {
      margin-top: 48px; } }
  @media (min-width: 769px) {
    #slogan p {
      margin-left: 1em; } }

.bottomMenu {
  display: block;
  width: 100%; }
  @media (min-width: 414px) {
    .bottomMenu .bottomMenu {
      padding-left: 18px; } }
  .bottomMenu ul {
    margin-bottom: 0px;
    display: inline;
    float: left; }
    .bottomMenu ul li {
      list-style-type: none;
      display: inline;
      font-size: 12px; }
      .bottomMenu ul li:last-child > a {
        border-right: none; }
      .bottomMenu ul li a {
        color: #d2cece;
        font-size: 17px;
        letter-spacing: 3px;
        line-height: 15px;
        text-decoration: none;
        font-weight: bold;
        border-right: thin solid #d2cece;
        padding: 0 7px 0 3px; }
        @media (max-width: 768px) {
          .bottomMenu ul li a {
            letter-spacing: 2px; } }
        .bottomMenu ul li a:hover {
          color: #fff;
          text-decoration: underline; }

/*---- Flip Top ------------------------------*/
/* entire container, keeps perspective */
.flip-container {
  -webkit-perspective: 1000px;
     -moz-perspective: 1000px;
          perspective: 1000px; }

/* flip the pane when hovered */
.flip-container:hover
.flipper,
.flip-container.hover
.flipper {
  -webkit-transform: rotateY(180deg);
     -moz-transform: rotateY(180deg);
          transform: rotateY(180deg); }

.flip-container:hover
.flipper,
.flip-container.hover
.flipper,
.flip-container.flip
.flipper {
  -webkit-transform: rotateY(180deg);
     -moz-transform: rotateY(180deg);
          transform: rotateY(180deg); }

/* flip speed goes here */
.flipper {
  -webkit-transition: 0.8s;
  -o-transition: 0.8s;
  -moz-transition: 0.8s;
  transition: 0.8s;
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
          transform-style: preserve-3d;
  position: relative; }

/* hide back of pane during swap */
.front, .back {
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
          backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0; }

/* front pane, placed above back */
.front {
  z-index: 2;
  /* for firefox 31 */
  -webkit-transform: rotateY(0deg);
     -moz-transform: rotateY(0deg);
          transform: rotateY(0deg); }

/* back, initially hidden pane */
.back {
  -webkit-transform: rotateY(180deg);
     -moz-transform: rotateY(180deg);
          transform: rotateY(180deg); }

#flip-card .col-md-12 {
  padding-left: 0px;
  padding-right: 0px; }

@media (min-width: 768px) {
  #flip-card {
    display: none; } }

.back {
  background-color: #fdfdfd; }

.banner-2 img {
  max-height: 100%;
  max-width: 100%; }

.bk-card-logo {
  margin-top: 6em; }
  .bk-card-logo img {
    width: 100%;
    display: block;
    margin: 0 auto; }

.flip-content p {
  margin: 10px;
  font-size: 20px;
  letter-spacing: 2px;
  color: #1f1616; }

.footer-logo img {
  display: block;
  margin: auto;
  height: 200px; }
  @media (min-width: 768px) {
    .footer-logo img {
      padding-top: 50px; } }

.copyright p {
  text-align: center;
  padding: 20px;
  margin-bottom: 0px;
  color: #d2cece;
  text-shadow: 0px 0px 6px #000;
  font-size: 17px;
  letter-spacing: 2px; }

@media (min-width: 768px) {
  footer {
    margin-top: -10px; } }

#page {
  min-height: 736px; }

.page-header h1 {
  text-align: center;
  padding-top: 1em; }

.page-img img {
  display: block;
  margin: 0 auto; }

.section-one {
  margin-top: -25px; }
  @media (min-width: 768px) {
    .section-one {
      margin-top: -20px; } }

.section-two {
  margin-top: 10px; }
  @media (min-width: 768px) {
    .section-two {
      margin-top: 0px; } }

.section-three .col-sm-4 {
  margin-top: -26px; }

.section-three .col-sm-8 {
  margin-top: -25px;
  margin-bottom: -22px; }

@media (min-width: 780px) {
  .section-three .col-sm-4 {
    margin-top: -20px; }
  .section-three .col-sm-8 {
    margin-top: -20px; } }

.banner {
  height: 502px; }

#fs-sec-one-a p {
  text-align: center;
  color: #ececec;
  font-size: 36px;
  padding-top: 35px;
  padding-left: 15px;
  line-height: .8em;
  word-spacing: 7px;
  letter-spacing: 3px;
  font-family: Special Elite; }
  @media (min-width: 768px) {
    #fs-sec-one-a p {
      font-size: 4em;
      text-align: left; } }
  @media (min-width: 768px) {
    #fs-sec-one-a p {
      padding-top: 22px; } }

.sec-one-b-content {
  color: #1f1616;
  text-align: center; }
  .sec-one-b-content h2, .sec-one-b-content h4, .sec-one-b-content p {
    text-shadow: 4px 3px 14px #000; }
  .sec-one-b-content h2 {
    padding-top: 5em;
    font-size: 28px;
    font-family: Special Elite;
    word-spacing: 10px;
    letter-spacing: 2px; }
  .sec-one-b-content h4 {
    font-size: 30px; }
  .sec-one-b-content p {
    font-size: 17px;
    padding-left: 1em;
    padding-right: 1em;
    letter-spacing: 3px;
    font-weight: bold;
    word-spacing: 12px; }

.fp-col-one,
.fp-col-two,
.fp-col-three {
  padding-top: 2em;
  padding-bottom: 2em; }
  @media (min-width: 768px) {
    .fp-col-one,
    .fp-col-two,
    .fp-col-three {
      padding-top: 9em;
      padding-bottom: 2em; } }
  .fp-col-one img,
  .fp-col-two img,
  .fp-col-three img {
    display: block;
    margin: 0 auto; }
  .fp-col-one h2,
  .fp-col-two h2,
  .fp-col-three h2 {
    padding-top: 20px; }
  .fp-col-one h2, .fp-col-one p,
  .fp-col-two h2,
  .fp-col-two p,
  .fp-col-three h2,
  .fp-col-three p {
    text-align: center;
    color: #fff; }
  .fp-col-one p,
  .fp-col-two p,
  .fp-col-three p {
    padding-left: 2em;
    padding-right: 2em;
    font-size: 17px;
    word-spacing: 3px;
    letter-spacing: 3px; }

.sec-three-a-content h2 {
  padding-top: 6em;
  text-align: center;
  color: #ececec;
  letter-spacing: 3px;
  text-shadow: 0px 0px 6px #000; }

.sec-three-b-content h1, .sec-three-b-content h2, .sec-three-b-content p {
  color: #ececec;
  text-align: center; }

.sec-three-b-content h2 {
  font-size: 40px;
  padding-top: 3em; }

.sec-three-b-content p {
  margin-top: 1em;
  font-size: 23px;
  font-weight: 800;
  word-spacing: 5px;
  text-shadow: 4px 3px 9px #000; }

@media (min-width: 320px) {
  .flip-container,
  .front, .back {
    height: 41.5em; }
  #dktb-img {
    display: none; } }

@media (min-width: 375px) {
  .flip-container,
  .front, .back {
    height: 48em; } }

@media (min-width: 414px) {
  .flip-container,
  .front, .back {
    height: 53em; } }

.blog-pg-title h1 {
  text-align: center;
  border-bottom: solid; }

.blog-content {
  margin-top: 4em;
  margin-left: 20px;
  margin-right: 20px;
  padding: 10em; }

@media (min-width: 320px) {
  .blog-img img {
    width: 100%;
    height: 100%; } }

@media (min-width: 768px) {
  .blog-img img {
    width: 20%; } }

.about-header {
  margin-top: 4em; }
  .about-header h1 {
    text-align: center; }

.about-container {
  margin-top: 4em;
  margin-bottom: 4em; }

.about-img img {
  display: block;
  margin: 0 auto; }

.about-content p {
  line-height: 30px; }

@media (min-width: 320px) {
  .about-container {
    margin-top: 0px;
    margin-bottom: 0px; }
    .about-container .col-md-6 {
      padding-left: 0px;
      padding-right: 0px; }
  .about-header h1 {
    padding-top: 0px; }
  .about-img img {
    width: 100%; } }

@media (min-width: 768px) {
  .about-header h1 {
    padding-top: 1em; }
  .about-content {
    padding-right: 4em; }
  .about-img img {
    width: 70%; } }

#events-pg-img {
  height: -webkit-fill-available;
  height: -moz-available;
  height: fill; }

#events-page .col-md-12 {
  padding-left: 0px;
  padding-right: 0px;
  margin-bottom: -20px; }

.parallax {
  background-color: #fff; }

.event-pg-content {
  padding-top: 3em; }
  .event-pg-content h2 {
    color: #000;
    margin-top: 0px;
    padding-top: 20px;
    text-align: center;
    font-size: 40px; }
  .event-pg-content h3 {
    margin-top: 0px;
    margin-bottom: 4px; }
  .event-pg-content h3, .event-pg-content p {
    padding-right: 30px;
    padding-left: 30px;
    color: #000; }
  .event-pg-content p {
    font-size: 20px;
    line-height: 25px;
    color: #000; }

.menu-title h1 {
  text-align: center;
  font-size: 40px; }

.appetizers-section h2,
.entrees-section h2,
.sides-section h2,
.desserts-section h2 {
  border-bottom: solid;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 30px; }

.appetizers-section img,
.entrees-section img,
.sides-section img,
.desserts-section img {
  max-width: 200px;
  max-height: 200px;
  padding-top: 10px;
  padding-bottom: 10px; }

@media (min-width: 320px) {
  .menu-title h1 {
    margin-top: 2em; } }

@media (min-width: 768px) {
  .menu-title h1 {
    margin-top: 2em; }
  #pg-section {
    height: 11em;
    float: right;
    padding-top: 3em;
    padding-right: 6em; } }

.contact-content {
  display: -webkit-box;
  text-align: center; }

.contact-page-img p {
  line-height: 2em; }

@media (min-width: 320px) {
  .contact-content {
    margin-top: 2em;
    margin-bottom: 5em;
    padding-left: 14px; }
    .contact-content p {
      display: inherit; }
    .contact-content img {
      margin-left: 3em; } }

@media (min-width: 768px) {
  .cnt-pg .col-md-6 {
    min-height: 30em; }
  .contact-content {
    margin-top: 5em; }
    .contact-content p {
      display: inline-block;
      vertical-align: text-bottom;
      padding-right: 4em; } }

.sgl-pg-img img {
  display: block;
  margin: 0 auto; }

.sgl-pg-content-else p {
  margin-left: 6em;
  margin-right: 6em; }

@media (min-width: 320px) {
  .sgl-pg-img img {
    width: 100%; } }

#bk-bizcard {
  background-color: #fcfcfc; }
  #bk-bizcard img {
    width: 100%;
    height: 100%;
    padding-top: 5em; }

.bk-bizcard-content {
  margin-top: 3em; }

.parallax-catering {
  min-height: 520px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover; }

.catering-pg-title h1 {
  margin: 0px;
  color: #fff;
  letter-spacing: 3px;
  text-align: center;
  padding-top: 3.3em;
  font-size: 60px; }

#catering-pg-section-two {
  min-height: 400px; }

.catering-bkgd-img {
  height: 400px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover; }

.col-1 h2, .col-1 p,
.col-2 h2,
.col-2 p,
.col-3 h2,
.col-3 p {
  color: #fdfdfd;
  text-align: center;
  font-weight: bold;
  text-shadow: 2px 2px 10px #000; }

.col-1 h2,
.col-2 h2,
.col-3 h2 {
  padding-top: 5em;
  font-size: 30px;
  letter-spacing: 2px; }

.col-1 p,
.col-2 p,
.col-3 p {
  font-size: 18px;
  letter-spacing: 2px; }

/*# sourceMappingURL=app.css.map */
