.blog-page {
	margin-top: 7em;

	@media ( min-width: 768px ) {
		margin-top: 10em;
		padding: 60px;
	}
}

.blog-pg-title {
	h1 {
		text-align: center;
		border-bottom: solid;
	}
}

.blog-content {
	p {
		font-size: 17px;
		letter-spacing: 2px;
		line-height: 25px;
	}
}

@media ( min-width: 320px ) {
	.blog-img {
		img {
		width: 100%;
		height: 100%;
		}
	}
}

@media ( min-width: 768px ) {
	.blog-img {
		img {
			width: 20%;
		}
	}
}