#events-pg-img {
	height: fill;
}

#events-page {
	.col-md-12 {
		padding-left: 0px;
		padding-right: 0px;
		margin-bottom: -20px;
	}
}

.event-pg-content {
	padding: 20px;
	padding-top: 4em;

	@media ( min-width: 768px ) {
		padding: 60px;
		padding-top: 14em;
	}

	h2 {
		color: $black;
		padding-top: 20px;
		text-align: center;
		font-size: 40px;
		border-bottom: solid 1px;
	}

	h3 {
		margin-top: 0px;
		margin-bottom: 4px;
	}

	h3, p {
		@media ( min-width: 768px ) {
			padding-right: 30px;
			padding-left: 30px;
		}
		color: $black;
	}

	p {
		font-size: 20px;
		line-height: 25px;
		color: $black;
	}
}

