#fp-img {
	padding-bottom: 2em;
	box-shadow: 2px 2px 5px #000;
}

#fp-content {
	h2 {
		text-align: center;
		padding-top: 10px;
		text-shadow: 2px 2px 5px #000;
	}
	p {
		color: #fff;
		font-size: 20px;
		line-height: 25px;
		padding: 10px;
		text-shadow: 2px 2px 5px #000;
	}
}