.section-one {
	margin-top: -25px;

	@media ( min-width: 768px ) {
		margin-top: -20px;
	}
}

.section-two {
	margin-top: 10px;

	@media ( min-width: 768px ) {
		margin-top: 0px;
	}
}

.section-three {
	.col-sm-4 {
		margin-top: -26px;
	}
	.col-sm-8 {
		margin-top: -25px;
		margin-bottom: -22px;
	}
	@media ( min-width: 780px ) {
		.col-sm-4 {
			margin-top: -20px;
		}
		.col-sm-8 {
			margin-top: -20px;
		}
	}
}

.banner {
	height: 502px;
}

#fs-sec-one-a {
	p {
		text-align: center;
		color: $white-grey;
		font-size: 36px;

		@media ( min-width: 768px ) {
			font-size: 4em;
			text-align: left;
		}
		padding-top: 35px;

		@media ( min-width: 768px ) {
			padding-top: 22px;
		}

		padding-left: 15px;
		line-height: .8em;
		word-spacing: 7px;
		letter-spacing: 3px;
		font-family: Special Elite; 
	}
}

.sec-one-b-content {
	color: $black-grey;
	text-align: center;

	h2, h4, p {
		text-shadow: 4px 3px 14px $black;
	}

	h2 {
		padding-top: 5em;
		font-size: 28px;
		font-family: Special Elite;
		word-spacing: 10px;
		letter-spacing: 2px;
	}

	h4 {
		font-size: 30px;
	}

	p {
		font-size: 17px;
		padding-left: 1em;
		padding-right: 1em;
		letter-spacing: 3px;
		font-weight: bold;
		word-spacing: 12px;
	}
}

.fp-col-one, 
.fp-col-two,
.fp-col-three {
	padding-top: 2em;
	padding-bottom: 2em;

	@media ( min-width: 768px ) {
		padding-top: 9em;
		padding-bottom: 2em;
	}

	img {
		display: block;
		margin: 0 auto;
	}

	h2 {
		padding-top: 20px;
	}

	h2, p {
		text-align: center;
		color: $white;
	}

	p {
		padding-left: 2em;
		padding-right: 2em;
		font-size: 17px;
		word-spacing: 3px;
		letter-spacing: 3px;
	}
}

.sec-three-a-content {
	h2 {
		padding-top: 6em;
		text-align: center;
		color: $white-grey;
		letter-spacing: 3px;
		text-shadow: $text-shadow;
	}
}

.sec-three-b-content {
	h1, h2, p {
		color: $white-grey;
		text-align: center;
	}
	h2 {
		font-size: 40px;
		padding-top: 3em;
	}
	p {
		margin-top: 1em;
		font-size: 23px;
		font-weight: 800;
		word-spacing: 5px;
		text-shadow: 4px 3px 9px $black;
	}
}

@media ( min-width: 320px ) {
	.flip-container,
	.front, .back {
	height: 41.5em;
	}
	#dktb-img {
		display: none;
	}
}

@media ( min-width: 375px ) {
	.flip-container,
	.front, .back {
		height: 48em;
	}
}

@media ( min-width: 414px ) {
	.flip-container,
	.front, .back {
		height: 53em;
	}
}
