.single-page {
	margin-bottom: 25px;
}

.sgl-pg-img {
	img {
		height: 100%;
		width: 100%;
		display: block;
		margin: 0 auto;
	}
}

.sgl-pg-content {
	p {
		font-size: 17px;
		letter-spacing: 2px;
		line-height: 30px;
	}
}

.sgl-pg-content-else {
	padding: 0px 60px 40px 60px;

	p {
		font-size: 17px;
		letter-spacing: 2px;
		line-height: 25px;
	}
}

