.footer-logo {
	img {
		@media ( min-width: 768px ) {
			padding-top: 50px;
		}

		display: block;
		margin: auto;
		height: 200px;
	}
}

.copyright {
	p {
		text-align: center;
		padding: 20px;
		margin-bottom: 0px;
		color: $grey-black;
		text-shadow: $text-shadow;
		font-size: 17px;
		letter-spacing: 2px;
	}
}

@media ( min-width: 768px ) {
	footer {
		margin-top: -10px;
	}
}