#footer-nav {
	padding-top: 1em;
}

#menu-menu-2 {
	@media ( min-width: 768px ) {
		margin-top: 35px;
	}

	padding-right: 15px;
	padding-left: 15px;

	@media ( min-width: 769px ) {
		padding-left: 60px;
	}

	line-height: 3em;
	text-align: center;
	text-shadow: 0px 2px 6px $black;

	@media ( min-width: 780px ) {
		#menu-menu-2 {
			padding-left: 2em;
		}
	}
}

.section-1 {
	padding-top: 10px;
}

.bottomMenu {
	display: block; 
	width: 100%;

	@media ( min-width: 414px ) {
		.bottomMenu {
			padding-left: 18px;
		}
	}

	ul { 
		margin-bottom: 0px;
		display: inline; 
		float: left;

		li {
			list-style-type: none; 
			display: inline;
			font-size: 12px;
			&:last-child > a {
				border-right: none;
			}

			a {
				color: $grey-black;
				font-size: 15px;

				@media ( max-width: 375px ) {
					letter-spacing: 0px;
				}

				@media ( min-width: 376px ) {
					letter-spacing: 1px;
				}

				letter-spacing: 3px;
				line-height: 15px;
				text-decoration: none;
				font-weight: bold;
				border-right: thin solid $grey-black;
				padding: 0 7px 0 3px;

				&:hover {
					color: $white;
					text-decoration: underline;
				}
			}
		}
	}
}

#slogan {
	@media ( max-width: 500px ) {
		margin-top: 4em;
	}

	p {
		color: $grey-black;
		font-size: 17px;
		text-transform: uppercase;
		text-align: center;
		text-shadow: $text-shadow;
		letter-spacing: 2px;
		font-weight: bold;
		word-spacing: 1px;

		@media ( min-width: 768px ) {
			margin-top: 48px;
			padding-right: 60px;
		}

		@media ( min-width: 790px ) {
			text-align: right;
		}
	}
}
