#nav-icon1 {
	width: 36px;
	height: 45px;
	position: relative;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	cursor: pointer;
}

#nav-icon1 {
	span, span, span {
		display: block;
		position: absolute;
		height: 4px;
		width: 100%;
		background: #373A3B;
		border-radius: 9px;
		opacity: 1;
		left: 0;
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
		-webkit-transition: .25s ease-in-out;
		-moz-transition: .25s ease-in-out;
		-o-transition: .25s ease-in-out;
		transition: .25s ease-in-out;
	}
}

#nav-icon1 span:nth-child(1) {
	top: 5px;
}

#nav-icon1 span:nth-child(2) {
	top: 15px;
}

#nav-icon1 span:nth-child(3) {
	top: 25px;
}

#nav-icon1.open span:nth-child(1) {
	top: 18px;
	-webkit-transform: rotate(135deg);
	-moz-transform: rotate(135deg);
	-o-transform: rotate(135deg);
	transform: rotate(135deg);
}

#nav-icon1.open span:nth-child(2) {
	opacity: 0;
	left: -60px;
}

#nav-icon1.open span:nth-child(3) {
	top: 18px;
	-webkit-transform: rotate(-135deg);
	-moz-transform: rotate(-135deg);
	-o-transform: rotate(-135deg);
	transform: rotate(-135deg);
}

.navbar
.navbar-nav {
	display: inline-block;
	float: left;
}

.navbar-default .navbar-toggle:hover, .navbar-default {
	background-color: rgba(221, 221, 221, 0);
}

.navbar-collapse.in {
	overflow-y: visible;
}

.sub-menu a  {
	color: #999;
	text-decoration: none;
}
.navbar-inverse 
.navbar-nav > li > a {
	color: #424C50;
	font-size: 30px;
	position: relative;
	color: #fff;
	display: inline-block;
	line-height: 1;
	border-bottom: 1px solid transparent;
	font-weight: bold;
}

.navbar-default .navbar-nav > li > a {
	color: #fff;
	font-size: 20px;
}

.sub-menu li {
	margin-bottom: 10px;
	list-style: none;
}

.sub-menu li:last-child {
	margin-bottom: 0;
}

.sub-menu a  {
	color: #999;
	text-decoration: none;
}

.sub-menu {
	a:hover  {
	color: black;
	}
	li, a {
		font-size: 25px;
		font-weight: bold;
	}
}


#menu-menu-1  a:hover {
	color: #fff;
}

.navbar-inverse
.navbar-nav > li > a {
	color: #f5f5f5;
	font-size: 30px;
	position: relative;
	color: #fff;
	display: inline-block;
	line-height: 1;
	border-bottom: 1px solid transparent;
	font-weight: bold;
	padding-top: 4px;
	padding-bottom: 4px;
}

.current-menu-parent li a {
	background: inherit;
}

.current-menu-parent 
.current-menu-item a {
	color: #fff;
	font-weight: bold;
}

.navbar-default .navbar-toggle {
	border-color: transparent;
}

.navbar-toggle .icon-bar {
	width: 33px;
	height: 5px;
}

.navbar-inverse, 
.navbar-toggle, 
.navbar-toggle, 
.collapse{
	background-color: rgba(55, 58, 59, 0);
	margin-top: 13px;
	margin-right: 42px;
}

.navbar-default .navbar-collapse {
	border-color: rgba(255, 255, 255, 0);
	background-color: rgba(119, 119, 119, 0.95);
}

.navbar-default {
	background-color: rgba(236, 231, 231, 0);
	border-color: rgba(231, 231, 231, 0);
}


@media ( min-width: 320px ) {
	.navbar-collapse{
		margin-top: -5em;
		padding-left: 2em;
	}
}

@media (min-width:768px) {
	.navbar-default .navbar-collapse {
		border-color: #908a75;
		background-color: #908a75;
	}
	.navbar 
	.navbar-collapse {
		text-align: left;
		padding-left: 3em;
		margin-top: 0px;
	}
		.navbar-nav {
		margin: 7.5px -15px;
		}
		.container {
		width: 100%;
		padding: 0px;
		margin: 0px;
	}
	.sub-menu {
		position: absolute;
		background: rgba(9, 9, 9, 0.62);
		padding: 10px 15px;
		width: 200px;
	}
	li:hover .sub-menu {
		display: block;
	}
	.navbar-nav > li > a {
		padding-top: 5px; 
		padding-bottom: 5px;
	}
}

