/* Globals ----------- */

body {
	line-height:20px;
	font-family: $secondaryFont;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.row {
	padding-left: 0px;
	padding-right: 0px;
}


.container-fluid {
	padding-left: 0px;
	padding-right: 0px;
}

h2 {
	margin-top: 0px;
}

h1, h2, h4 {
	font-family: Special Elite;
}

ul {
	list-style: none;
}

@media ( min-width: 1025px ) {
	.parallax { 
		min-height: 500px; 
		background-attachment: fixed;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
}

.bkgd-img {
		min-height: 525px;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
}

.parallax-br {
	min-height: 300px; 
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.blog-navigation {
	margin-left: -26px;
	ul {
	display: -webkit-inline-box;
	padding: 10px;
	}
	li {
		padding-right: 5px;
		padding-left: 5px;
		list-style: none;
	}
}
