
#button {
	a {
		color: $btn-white;
		font-family: $primaryFont;
	}
	.btn-red {
		padding: 13px 3em;
		background-color: $insane-red;
		border-color: transparent;
		font-size: 18px;
		line-height: 1.33333;
		border-radius: 5px;

		@media ( min-width: 780px ) {
			padding: 13px 5em;
		}
	}
}

.button-1 {
	text-align: center;
	margin-top: 4em;

	@media ( min-width: 768px ) {
		text-align: left;
		margin-top: 2em;
		margin-left: 18px;
	}
}

.button-2, 
.button-3,
.button-4 {
	text-align: center;
	margin-top: 4em;
}